                                         
                                       **Theoretical Questions**

1. What are data structures, and why are they important?
  - Data structures are specialized formats for organizing, storing, and
    managing data efficiently. They are crucial for enabling optimized algorithm development and efficient data handling.

2. Explain the difference between mutable and immutable data types with examples.
 -  Mutable data types can be modified after creation (e.g., lists).
 -  Immutable data types cannot be modified (e.g., tuples).
    Example: list=[1, 2] (mutable), tuple=(1, 2) (immutable).

3. What are the main differences between lists and tuples in Python?
  - List:
     (a) Lists are mutable, dynamic in size, and slower.
     (b) Suitable for collections that require frequent updates.
  - Tuples:
     (a) Tuples are immutable, fixed in size, and faster for operations.
     (b) Ideal for fixed data that shouldn't change.

4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs using hash tables for fast
    lookups and access.

5. Why might you use a set instead of a list in Python?
 - Sets discard duplicate elements automatically and provide faster operations
   for membership testing and set operations.

6. What is a string in Python, and how is it different from a list?
 - Strings are immutable sequences of characters. Lists are mutable collections
   that can hold diverse data type.

7. How do tuples ensure data integrity in Python?
 - Tuples are immutable, meaning their elements cannot be changed after
   creation, ensuring data consistency.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - Hash tables are data structures that map keys to values using hash
   functions. Dictionaries in Python are implemented using hash tables.

9. Can lists contain different data types in Python?
  - Yes, lists can contain elements of different data types, including numbers, strings, and objects.

10. Explain why strings are immutable in Python.
  - Strings are immutable to ensure efficiency and security, especially when
    used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?
 -  Dictionaries provide fast lookups and access using keys, making them more
    suitable for tasks requiring key-value mapping.

12. Describe a scenario where using a tuple would be preferable over a list?
  - Tuples are ideal when the data should not change, such as coordinates or
    configuration settings.

13. How do sets handle duplicate values in Python?
  - Sets automatically remove duplicate values, ensuring all elements are
    unique.

14. How does the “in” keyword work differently for lists and dictionaries?
 -  For lists, 'in' checks for element existence. For dictionaries, it checks  
    if a key exists.

15. Can you modify the elements of a tuple? Explain why or why not?
  - No,tuple elements cannot be modified because tuples are immutable by design.

16. What is a nested dictionary, and give an example of its use case?
  -  A nested dictionary is a dictionary within another dictionary. Example:
     {'user': {'name':'Alice', 'age': 25}}.

17. Describe the time complexity of accessing elements in a dictionary?
  -  Accessing elements in a dictionary has an average time complexity of O(1)
     due to hash table implementation.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred when order matters or when storing a simple sequence of elements without key-value mapping.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are unordered because they rely on hash tables. Retrieval is
  based on keys,not order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - Lists use positional indices for data retrieval, while dictionaries use keys
   for fast lookups.

                                          **Practical Questions**

1. Write a code to create a string with your name and print it.

In [ ]:
name = "Aishwarya"
print(name)

Aishwarya

2. Write a code to find the length of the string "Hello World".

In [ ]:
string = "Hello World"
print(len(string))

11

3. . Write a code to slice the first 3 characters from the string 'Python Programming'.

In [ ]:
string = "Python Programming"
print(string[:3])

Pyt

4. Write a code to convert the string 'hello' to uppercase.

In [ ]:
string = "hello"
print(string.upper())

HELLO

5. Write a code to replace the word 'apple' with 'orange' in the string 'I like apple'.

In [ ]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

6. . Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [30]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ["a", "b", "c", "d"]
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [1]:
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

12. Write a code to access second-to-last element of the tuple ('red', 'green','blue' 'yellow').

In [3]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [4]:
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

14. Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit').

In [5]:
animals = ("dog", "cat", "rabbit")
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi"is in it.

In [6]:
fruits = ("apple", "orange", "banana")
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [8]:
set1 = {'a','b','c'}
print(set1)

{'b', 'a', 'c'}

17. Write a code to clear all element from the set {1, 2, 3, 4, 5}.

In [11]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [13]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3. 4. 5}.

In [14]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [15]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [16]:
my_dict = {"name": "Alana", "age": 30, "city": "Delhi"}
print(my_dict)

{'name': 'Alana', 'age': 30, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country":"USA" to the dictionary{'name':'John','age':25}.

In [17]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key
"name" in the dictionary {'name':'Alice','age':30}.

In [18]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name':'Bob','age':22, 'city':'Paris'}.

In [19]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'Paris'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'Paris'}

25.Write a code to check if the key "city" exists in the dictionary {'name':'Alice', 'city':'Paris'}.

In [20]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple and a dictionary, and print them all.

In [21]:
# Create a list
my_list = [1, 2, 3, "apple", "banana"]

# Create a tuple
my_tuple = (10, 20, 30, "red", "green")

# Create a dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Print all three data structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 'apple', 'banana']
Tuple: (10, 20, 30, 'red', 'green')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [24]:
import random

# Generate 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[23, 27, 33, 48, 73]

In [23]:
import random

random_numbers = []
for _ in range(5):
  random_numbers.append(random.randint(1, 100))

random_numbers.sort()
print(random_numbers)

[4, 9, 29, 86, 88]

28.Write a code to create a list with strings and print the element at the third index.

In [25]:
my_list = ["apple", "banana", "orange", "grape", "kiwi"]
print(my_list[2])

orange

29. Write a code to combine two dictionaries into one and print the result.

In [27]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Method 1: Using the update() method
dict1.update(dict2)
print(dict1)

# Method 2: Using the ** unpacking operator (Python 3.5+)
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [29]:
my_list = ["apple", "banana", "orange", "banana", "apple"]
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'orange'}